.title-bar {
  -webkit-app-region: drag;
  background-color: #002644;
  padding: 13px 40px;
  height: 60px;
  color: #FCFCFC;
}

.title-logo-col {
  width: 160px;
  text-align: center;
}

.title-logo {
  font-weight: bold;
}

.title-version {
  opacity: 0.60;
}

.title-search-col {
  width: 260px;
}
